<div class="cover">
  <div class="cover_title">함께 떠나는 작은 여행, 아몰랑</div>
  <br>
  <a class="btn btn-outline-warning" href="#sec_cover" role="button" style="background-color: #FFFFFF; box-shadow: 0 2px 8px #999;"><div class="to_big">여행 떠나기</div></a>
</div>


<!--첫번째 페이지입니다!
스크롤해서 
1번 페이지는 그냥 예쁘게 커버 만들어주시고
2번 페이지는 관심사 입력값 받고 버튼 눌러서 두번째 페이지로 넘어가는 걸로 할게요-->

<!--<img src="/1.jpg"></img>-->
<div id="sec_cover">
  <div class="to_give_padding">아몰랑</div>
    <h5>누군지 모르지만, 나와 잘 맞을 사람과 떠나는 <mark>공통 관심사 여행</mark></h5>
  <hr> <br>
    <form action = "/home/two" method = "post">
      <h5><strong>이름</strong></h5>
        <input type = "text" name = "name" class="rounded mx-auto d-block" required>
    <br><br>
        <h5><strong>나이</strong></h5>
        <input type = "text" name = "age"  class="rounded mx-auto d-block" required>
    <br><br>
    <h5><strong>성별</strong></h5>
        <label for="male">남성</label>
        <input type="radio" name="gender" id="male" value="male">
        <label for="female">여성</label>
        <input type="radio" name="gender" id="female" value="female">
      <br><br>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" name = "route1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          거주지역
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input type="radio"  name="locations" value = "Seoul" >서울 <br>
            <input type="radio"  name="locations" value = "Busan">부산 <br>
            <input type="radio"  name="locations" value = "Daegu">대구 <br>
            <input type="radio"  name="locations" value = "Daejeon">대전 <br>
            <input type="radio"  name="locations" value = "Ulsan">울산 <br>
            <input type="radio"  name="locations"  value = "Gyeonggi">경기 <br>
            <input type="radio"  name="locations"  value = "Gangwon">강원 <br>
            <input type="radio"  name="locations"  value = "North_Chungcheong">충청북도 <br>
            <input type="radio"  name="locations"  value = "South_Chungcheong">충청남도 <br>
            <input type="radio"  name="locations" value = "North_Jeolla">전라북도 <br>
            <input type="radio"  name="locations" value = "South_Jeolla">전라남도 <br>
            <input type="radio"  name="locations" value = "North_Gyeongsang">경상북도 <br>
            <input type="radio"  name="locations"  value = "South_Gyeongsang">경상남도 <br>
            <input type="radio"  name="locations"  value = "Jeju">제주</a>
          </div>
        </div>
      <br><br>
      
      <!--<h6>※세부 거주지역을 적어주세요</h5>-->
      <!--<input type = "text" name = "location">-->
      <!--<br><br>-->
      <h5><strong>직장 / 학교</strong></h5>
      <input type = "text" name = "workplace"  class="rounded mx-auto d-block" required>
    <br><br>
    
        <h5><strong>전화번호</strong></h5>
        <input type = "text" name = "phone" class="rounded mx-auto d-block">
        <br><br>
    <h5><strong>관심사</strong></h5>
    
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" name = "route1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            영화
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input type="radio"  name="movie" value = "loco">로코 <br>
            <input type="radio"  name="movie" value = "thriller">스릴러 <br>
            <input type="radio"  name="movie" value = "SF">S.F <br>
            <input type="radio"  name="movie"  value = "comedy">코미디 <br>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"  name = "route2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            스포츠
          </button>
          
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input type="radio"  name="sports" value = "running">러닝 <br>
            <input type="radio"  name="sports" value = "baseBall">야구 <br>
            <input type="radio"  name="sports" value = "soccer">축구 <br>
            <input type="radio"  name="sports" value = "skate">스케이팅 <br>
            <input type="radio" name="sports" value = "swimming">수영 <br>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" name = "route3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          음악
          </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input type="radio" name="music" value = "kpop">K-POP <br>
          <input type="radio" name="music" value = "hiphop">힙합 <br>
          <input type="radio"  name="music" value = "jazz">재즈 <br>
          <input type="radio"  name="music" value = "classic">클래식 <br>
          <input type="radio"  name="music" value = "ballade">발라드 <br>
        </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" name = "route4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            미술
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input type="radio"  name="art" value="piece">조각 <br>
            <input type="radio"  name="art" value="craft">공예 <br>
            <input type="radio"  name="art" value="painting">회화 <br>
            <input type="radio"  name="art" value="design">디자인 <br>
            <input type="radio"  name="art" value="photography">사진 <br>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"  name = "route5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            선호하는 여행 스타일
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <input type="radio"  name="travelhow" value="walk">뚜벅이 <br>
            <input type="radio"  name="travelhow" value="notwalk">최대한 안 걷기 <br>
            <input type="radio"  name="travelhow" value="see">관광지 위주 <br>
            <input type="radio"  name="travelhow" value="eat">먹거리 위주 <br>
          </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-outline-warning" style="background-color: #FFFFFF;">제출하기</button> <br><br>
  </form>
</div>

<script>
    $('.dropdown-toggle').dropdown()
</script>
