<div id="cover_4">
        <a href="#lv-container"><div class="page_four_cover"></div></a>
            <form>
                <i class="fas fa-edit fa-8x"></i><br><br>
                <h4>메이트는 괜찮았나요? </h4><hr><br>
                <p>
                    메이트 이름: <input type="text" name="name"><br><br>
                    평가: <input type="number" name="rating"  min="1" max="5">
                </p>
                <br>
                
                <button type="submit" class="btn btn-outline-warning" style="background-color: #FFFFFF; box-shadow: 0 2px 8px #999;"><a href = "/home/last">제출</a></button>
            </form>
            <br><br>
            <p>누군지 모르는 사람과 떠나는 작은 일탈여행, 아몰랑
            <br><br>당신의 여행은 어땠나요?<br><br>
                후기를 작성해주세요^^
            </p>
            <!-- 라이브리 시티 설치 코드 -->
            <div id="lv-container" data-id="city" data-uid="MTAyMC8zNjI2MC8xMjc5NQ==">
            	<script type="text/javascript">
                   (function(d, s) {
                       var j, e = d.getElementsByTagName(s)[0];
            
                       if (typeof LivereTower === 'function') { return; }
            
                       j = d.createElement(s);
                       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                       j.async = true;
            
                       e.parentNode.insertBefore(j, e);
                   })(document, 'script');
            	</script>
            <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>
            </div>
            <!-- 시티 설치 코드 끝 -->
        </div>
    </div>
</div>