<div id="cover_last">
    <a href="#end"><div class="page_last_cover"></div></a>
    <div class="page_last_cover_2" style="color: #FFFFFF;">
        <h4 id="end">여행을 무사히 마치셨습니다!<br><br>
        다음에 또 만나요^^</h4> <br><br><br><br><br>
    <a class="btn btn-outline-warning" href="/home/first" role="button" style="background-color: #FFFFFF; box-shadow: 0 2px 8px #999;"><div class="to_big">처음으로 돌아가기</div></a><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>