<div class= "text-middle"><div class="to_give_padding">
<div id="cover_3-2">    
<br><br>
    음악 잘 들으셨나요?<br>
    <% if "#{@my_mtype}" == "kpop" %>
        참 신나죠?
    <% elsif "#{@my_mtype}" == "hiphop" %>
        예이
    <% elsif "#{@my_mtype}" == "jazz" %>
        재즈는 참 흥미로워요
    <% elsif "#{@my_mtype}" == "classic" %>
        힐링하셨나요?
    <% elsif "#{@my_mtype}" == "ballade" %>
        편안해지셨죠?
    <%end%>

<br>
<a class="btn btn-outline-warning" href="/home/three_3" role="button" style="background-color: #FFFFFF; box-shadow: 0 2px 8px #999;"><div class="to_big">이제 마지막 코스로!</div></a>
</div></div></div>