/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.css);
@import url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff);
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'SangSangShinb7'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff') format('woff'); font-weight: normal; font-style: normal; }


nav {
    box-shadow: 0 2px 8px #999;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

#sec_cover {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}

#cover_3 {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}
#cover_3-1 {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}
#cover_3-2 {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}
#cover_3-3 {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}
#cover_4 {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}
#cover_last {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}
#cover_5 {
    background-color: #f0f8ff;
    text-align: center;
    height: 100%;
    box-shadow: 0 2px 8px #999;
}

.nav_logo {
    font-family: 'SangSangShinb7';
    font-size: 40px;
    padding: 20;
}

.nav_logo {
    font-family: 'SangSangShinb7' format('woff'); font-weight: normal; font-style: normal;
}

.title {
    font-family: 'SangSangShinb7';
    font-size: 80px;
    padding-top: 20px;
}
h5,p { 
    font-size: 20px;
    font-family: 'NanumSquareRound', sans-serif !important;
}
h4 { 
    font-size: 30px;
    font-family: 'NanumSquareRound', sans-serif !important;
}

h1 {
  font-size: 40px;
  font-family: 'NanumSquareRound', sans-serif !important;
  
}

.text-center{
    padding-top: 20%;
}

.text-middle{
    padding-top: 10%;
    text-align: center;
}

